/*
 *	MENU
 */
.menu {}

.menu__list {
	margin: 0;
	background-color: #93a8cf;
	@include grid-media-query('m') { min-height: 27px; }
	@include grid-media-query('xl') { min-height: 7px; }
	@include grid-media-query('xxl') { min-height: 10px; }
}

.menu__listitem {
	padding: 5px;
	display: inline;
	list-style-type: none;
}

.menu__listlink {
	color: white;
	text-decoration: none;
	&:hover {}
	&:active {}
	&:visited {}
}

.menu__listitem--menu {
	@include grid-media-query('m') { display: none; }
	@include grid-media-query('l') { display: none; }
	@include grid-media-query('xl') { display: none; }
	@include grid-media-query('xxl') { display: none; }
}

.menu__listitem--english {
	@include grid-media-query('xl') { display: none; }
	@include grid-media-query('xxl') { display: none; }
}

.menu__listitem--search {
	@include grid-media-query('m') { display: none; }
	@include grid-media-query('l') { display: none; }
	@include grid-media-query('xl') { display: none; }
	@include grid-media-query('xxl') { display: none; }
}