/*
 * SEARCH
 */
.search {
	form { line-height: 180%; }
	label { display: inline; }
	@include grid-media-query('m') { display: none; }
	@include grid-media-query('l') { display: none; }
	@include grid-media-query('xl') { display: none; }
	@include grid-media-query('xxl') { display: none; }
}

.search__catalog {
	margin-bottom: 5px;
}

.search__header {
	padding: 5px;
	font-weight: bold;
	display: block;
	background-color: $brand-background__color--main;
	color: white;
	cursor: pointer;
}

.search__input {
	text-align: left;
	padding: 8px 0;
	input { display: inline; }
	input[type=text] {
		width: 68%;
		@include grid-media-query('s') { width: 80%; }
	}
	input[type=submit] {
		width: 29.5%;
		@include grid-media-query('s') { width: 19.5%; }
	}
}

.search__inputfield {
	border: 1px solid black;
	padding: 3px;
}

.search__inputsubmit {
	float: right;
	background-color: white;
	margin-top: 2px;
	padding: 3px 3px 3px 3px;
	border: 1px solid black;
}

.search__inputradio {
	display: block;
}

.search__link, 
.search__infolink {
	text-decoration: none;
	color: $brand-link__color--base;
	&:hover { border-bottom: 1px solid $brand-link__color--hover; }
	&:active {}
	&:visited {}
}

.search__infolink:after {
	font-family: FontAwesome;
	content: $arrow-little-right;
	margin: 0 0 0 9px;
	border-bottom: none;
}

.search__link:before {
	font-family: FontAwesome;
	content: $arrow-little-right;
	margin: 0 5px 0 0;
	border-bottom: none;
}

.search__resultmarker {
	background-color: lightgrey;
}

.search__list {
	margin: 0;
	padding: 0;
}

.search__listitem {
	list-style-type: none;
	margin-left: 9px;
}

.search__listitem:before {
	font-family: FontAwesome;
	color: $brand-link__color--base;
	content: $arrow-little-right;
	margin-left: -9px;
	margin-right: 3px;
	border-bottom: none;
}

.search__listlink {
	text-decoration: none;
	color: $brand-link__color--base;
	&:hover { border-bottom: 1px solid $brand-link__color--hover; }
	&:active {}
	&:visited {}
}

.search__website,
.search__discipline {
	margin-bottom: 8px;
}


/*
 *	HEADERSEARCH
 */
.headersearch {
	display: none;
	margin-top: 20px;
	@include grid-media-query('xl') { display: block; }
	@include grid-media-query('xxl') { 
		display: block;
		margin-top: 35px;
	}
	ul { margin-left: 0; }
	width: 400px;
	float: right;
	margin-right: 25px;
	
}

.headersearch__content {
	display: none;
	@include grid-media-query('xl') { display: block; }
	@include grid-media-query('xxl') { display: block; }
}

.headersearch__chooseitem {
	display: inline;
	list-style-type: none;
	background-color: black;
	padding: 5px;
	margin-right: 20px;
}

.headersearch__chooselink {
	color: white;
	text-decoration: none;
}

.headersearch__choose {
	margin-bottom: 10px;
}

.headersearch__inputfield {
	border: none;
	padding: 3px;
	width: 370px;
}

.headersearch__inputsubmit {
	border: none;
	color: white;
	background-color: none;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
	width: 20px;
	padding: 3px 3px 3px 4px;
	font-size: 85%;
	cursor: pointer;
}

.headersearch__content--catalog,
.headersearch__content--discipline,
.headersearch__content--website {
	display: none;
	background-color: white;
	position: absolute;
	top: 84px;
	right: 110px;
	@include grid-media-query('xxl') {
		top: 100px;
		right: 135px;
		line-height: 180%;
	}
	width: 390px;
	z-index: 1;
	padding: 8px;
}

.headersearch__content--catalog.headersearch__content--active,
.headersearch__content--discipline.headersearch__content--active,
.headersearch__content--website.headersearch__content--active {
	display: block;
}

.headersearch__infolink {
	text-decoration: none;
	color: $brand-link__color--base;
	&:hover { color: $brand-link__color--base; }
	&:active { color: $brand-link__color--base; }
	&:visited { color: $brand-link__color--base; }
}

/*
 *	TABSEARCH
 */

.tabsearch {
	display: none;
	@include grid-media-query('m') { display: block; }
	@include grid-media-query('l') { display: block; }
	position: absolute;
	z-index: 1;
	top: 97px;
	@include grid-media-query('l') { top: 81px; }
	left: 27.5%;
	width: 400px;
}

.tabsearch__content--catalog,
.tabsearch__content--discipline,
.tabsearch__content--website {
	display: none;
	background-color: white;
	position: absolute;
	top: 155px;
	left: 27.5%;
	@include grid-media-query('l') {
		top: 139px;
		right: 135px;
		line-height: 180%;
	}
	width: 400px;
	z-index: 1;
	padding: 8px;
}

.tabsearch__content {
	display: none;
	@include grid-media-query('m') { display: block; }
	@include grid-media-query('l') { display: block; }
	@include grid-media-query('xl') { display: none; }
}

.tabsearch__content--catalog,
.tabsearch__content--discipline,
.tabsearch__content--website {
	display: none;
}

.tabsearch__content--catalog.tabsearch__content--active,
.tabsearch__content--discipline.tabsearch__content--active,
.tabsearch__content--website.tabsearch__content--active {
	display: block;
}

.tabsearch__choose {
	margin-left: 0;
	margin-bottom: 3px;
	&:last-child {
		margin-right: 0px;
	}
}

.tabsearch__chooseitem {
	display: inline;
	list-style-type: none;
	background-color: black;
	padding: 5px;
	margin-right: 10px;
}

.tabsearch__chooselink {
	color: white;
	text-decoration: none;
}

.tabsearch__input {
	background-color: white;
	padding: 3px;
	width: 400px;
}