<div class="bottomline">
	<ul>
		<li class="footer__icon"><i></i>
		<li>Letzte Änderung 11.06.2013
		<li>&copy; 2013 Niederächsische Staats- und Universitätsbibliothek Göttingen
		<li><i class="icon-cog   joyride__tool"></i>
	</ul>
	<ul class="">
		<li class="footer__icon-facebook"><i class="icon-facebook-sign"></i>
		<li class="footer__icon-twitter"><i class="icon-twitter-sign"></i>
		<li class="footer__icon-reply"><i class="icon-reply"></i>
		<li class="footer__icon-comments"><i class="icon-comments"></i>
	</ul>
</div>