<div class="globallinks  joyride__globallinks">
	<section class="linklist">
		<header class="linklist__header">
			<h2>Ressourcen</h2>
		</header>
		<ul class="linklist__list">
			<li class=linklist__item><a href="http://www.sub.uni-goettingen.de/weitere-informationen/weitere-sucheinstiege-recherchetipps/" title="Literatursuche" class=linklist__link>Literatursuche</a>
			<li class=linklist__item><a href="" class=linklist__link>KVK Karlsruher Katalog</a>
			<li class=linklist__item><a href="" class=linklist__link>ZDB - Zeitschriftendatenbank</a>
			<li class=linklist__item><a href="" class=linklist__link>OLC - Online Contents</a>
			<li class=linklist__item><a href="" class=linklist__link>GoeScholar</a>
			<li class=linklist__item><a href="" class=linklist__link>open-access.net</a>
		</ul>
	</section><!--
	--><section class="linklist">
		<header class="linklist__header">
			<h2>SUB Göttingen</h2>
		</header>
		<ul class="linklist__list">
			<li class=linklist__item><a href="" class=linklist__link>Benutzerkonten</a>
			<li class=linklist__item><a href="" class=linklist__link>Öffnungzeiten</a>
			<li class=linklist__item><a href="" class=linklist__link>Bücherwunsch für Studierende</a>
			<li class=linklist__item><a href="" class=linklist__link>Erwerbungsvorschläge</a>
			<li class=linklist__item><a href="" class=linklist__link>Schulungsangebote</a>
			<li class=linklist__item><a href="" class=linklist__link><i class="icon-facebook-sign"></i>SUB bei Facebook</a>
			<li class=linklist__item><a href="" class=linklist__link><i class="icon-twitter-sign"></i>SUB bei Twitter</a>
			<li class=linklist__item><a href="" class=linklist__link><i class="icon-pencil"></i>Ihre Meinung</a>
			<li class=linklist__item><a href="" class=linklist__link><i class="icon-comments-alt"></i>Frag die SUB</a>
		</ul>
	</section><!--
	--><section class="linklist">
		<header class="linklist__header">
			<h2>Universität Göttingen</h2>
		</header>
		<ul class="linklist__list">
			<li class=linklist__item><a href="" class=linklist__link>Universität Göttingen</a>
			<li class=linklist__item><a href="" class=linklist__link>UniVZ</a>
			<li class=linklist__item><a href="" class=linklist__link>eCampus mit Stud.IP</a>
			<li class=linklist__item><a href="" class=linklist__link>studIT</a>
			<li class=linklist__item><a href="" class=linklist__link>Gesamtübersicht Göttinger Bibliotheken</a>
			<li class=linklist__item><a href="" class=linklist__link>Mensa-Speisepläne</a>
			<li class=linklist__item><a href="" class=linklist__link>GWDG</a>
		</ul>
	</section><!--
	--><section class="linklist">
		<header class="linklist__header">
			<h2>Stadt Göttingen</h2>
		</header>
		<ul class="linklist__list">
			<li class=linklist__item><a href="" class=linklist__link>Informationen zur Stadt Göttingen</a>
			<li class=linklist__item><a href="" class=linklist__link>Stadtplan</a>
			<li class=linklist__item><a href="" class=linklist__link>Verkehrsverbindungen</a>
			<li class=linklist__item><a href="" class=linklist__link>studieren-in-goettingen.de</a>
		</ul>
	</section>
</div>