<div class="headersearch__content">
	<div class="headersearch__content--catalog">
		<form action="">
			<div class="headersearch__inputradio  split">
				<label><span class="split__title"><input type="radio"> GUK</label></span><a href="#modal__activate--guk" title="GUK" class="headersearch__infolink">Göttinger Universitätskatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK</label></span><a href="#modal__activate--gvk" title="GVK" class="headersearch__infolink">Gemeinsamer Verbundkatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK - Plus</label></span><a href="#modal__activate--gvkplus" title="GVK Plus" class="headersearch__infolink">GVK mit Online Contents</a><br>
				<label><span class="split__title"><input type="radio"> EZB</label></span><a href="#modal__activate--ezb" title="EZB" class="headersearch__infolink">Suche nach Elektronischen Zeitschriften</a><br>
				<label><span class="split__title"><input type="radio"> DBIS</label></span><a href="#modal__activate--dbis" title="DBIS" class="headersearch__infolink">Suche nach Datenbanken</a><br>
				<label><span class="split__title"><input type="radio"> Aufsätze und elektronische Volltexte</label></span><br>
			</div>
		</form>
		<ul class="search__list">
			<li class="search__listitem"><a href="" title="" class="search__listlink">Weitere Sucheinstiege & Recherchetipps</a>
		</ul>
	</div>
	<div class="headersearch__content--discipline">
		<ul class="search__list">
			<li class="search__listitem"><a href="" title="" class="search__listlink">Geisteswissenschaften und Theologie</a>
				<ul class="search__list">
					<li class="search__listitem"><a href="" title="" class="search__listlink">Allgemeine Sprach- und Literaturwissenschaft</a><br>Biolinguistik und <span class="search__resultmarker">Path</span>olinguistik
					<li class="search__listitem"><a href="" title="" class="search__listlink">General Linguistics an Literacy Studies</a><br>biologuistics and <span class="search__resultmarker">path</span>olinguistics
				</ul>
			</li>
			<li class="search__listitem"><a href="" title="" class="search__listlink">Naturwissenschaften, Mathematik und Informatik</a>
				<ul class="search__list">
					<li class="search__listitem"><a href="" title="" class="search__listlink">Agrarwissenschaften</a><br>Pflanzen<span class="search__resultmarker">path</span>ologie
					<li class="search__listitem"><a href="" title="" class="search__listlink">Psychologie</a><br><span class="search__resultmarker">Path</span>opsychologie
				</ul>
			</li>
		</ul>
	</div>
	<div class="headersearch__content--website">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologie</a> (6)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hopsycholigie</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologische</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ras</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rias</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>riach</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rizier</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>en</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>enschaft</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ent</a> (1)
	</ul>
	</div>
</div>