<!--

Start Modal

mainnav

search

infobox

logo

banner

globallinks

tool

-->
<ol id="joyRideTipContent">

	<li data-button="Weiter">
		<h2>Info-Tour</h2>
		<p>Kurze Einführung in den Prototyp SUB-Website</p>
		<p>Bitte beachten Sie auch die Hinweise auf der <a href="/">Startseite zum Prototypen</a></p>
	</li>	

	<li data-button="weiter">
		<h2>Anzeigarten</h2>
		<p>Verändern Sie einfach die Größe Ihres Browserfenster um die Anzeigen zu wechseln.</p>
		<ul>
			<li>XS = Smartphone portrait
			<li>S = Smartphone quer
			<li>M = Tablet portrait
			<li>L = Tablet quer
			<li>XL = Notebook
			<li>XXL = Desktop
		</ul>
		<p>Die folgenden Info-Tour-Tipps heben solche Elemente hervor, die sich je nach genutzten Gerät verändern.</p>
	</li>

	<li data-class="joyride__search" data-text="Weiter" data-options="tipLocation:bottom">
		<h2>Suche</h2>
		<p>Veränderte Darstellung je nach Gerät und unterhalb des Inhalts mit Link dorthin bei kleinen Geräten.</p>
	</li>

	<li data-class="joyride__mainnav" data-text="Weiter" data-options="tipLocation:right">
		<h2>Navigation</h2>
		<p>Darstellung des Inhalts bei kleines Geräten mit Link dorthin im Kopfbereich.</p>
	</li>

	<li data-class="joyride__infobox" data-text="Weiter" data-options="tipLocation:left">
		<h2>Infobox</h2>
		<p>Darstellung unterhalb des Inhalts bei kleines Geräten.</p>
	</li>

	<li data-class="joyride__banner" data-text="Weiter">
		<h2>Banner Bild</h2>
		<p>Ausschnittsvergrößerung bzw. Ausblendung bei kleinen Geräten bzw. Werkzeugmodus.</p>
	</li>

	<li data-class="joyride__logo" data-text="Weiter">
		<h2>SUB Logo</h2>
		<p>Darstellung einer an das Gerät angepassten Version.</p>
	</li>

	<li data-class="joyride__breadcrumb" data-text="Weiter" data-options="tipLocation:top">
		<h2>Navigationshilfe</h2>
		<p>Darstellung unterhalb des Inhalts bei kleines Geräten.</p>
	</li>

	<li data-class="joyride__globallinks" data-text="Weiter" data-options="tipLocation:left">
		<h2>Links</h2>
		<p>Veränderte Spaltenanzahl je Gerät und im Werkzeugmodus ausgeblendet.</p>
	</li>

	<li data-class="joyride__tool" data-text="Weiter" data-options="tipLocation:left">
		<h2>Werkzeugmodus</h2>
		<p>Ein Klick auf das Ikon schaltet in den Werkzeugmodus.</p>
	</li>

	<li data-button="Beenden">
		<h2>Ende der Info-Tour</h2>
		<p>Feedback an <a href="mailto:windisch@sub.uni-goettingen.de">windisch@sub.uni-goettingen.de</a>.</p>
		<p>Bitte beachten Sie auch die Hinweise auf der <a href="/">Startseite zum Prototypen</a></p>
	</li>


</ol>
