<section class="" id="modal__activate--guk" tabindex="-1" role="dialog" aria-labelledby="modal__activate--guk" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--guk-label">Göttinger Universitätskatalog</header>
		<div class="modal-content">Enthalten sind die Bestände der Niedersächsischen Staats- und Universitätsbibliothek Göttingen (Zentralbibliothek, Historisches Gebäude und Bereichsbibliotheken) und von Instituts- und Seminarbibliotheken (im Aufbau). Nicht enthalten sind in der Regel Aufsätze aus Büchern und Zeitschriften.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--gvk" tabindex="-1" role="dialog" aria-labelledby="modal__activate--gvk-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--gvk-label">Gemeinsamer Verbundkatalog</header>
		<div class="modal-content">Der Gemeinsame Verbundkatalog (GVK) enthält die Bestände von Bibliotheken aus sieben Bundesländern und der Staatsbibliothek zu Berlin. Die im GVK nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--gvkplus" tabindex="-1" role="dialog" aria-labelledby="modal__activate--gvkplus-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--gvkplus-label">GVK mit Online Contents</header>
		<div class="modal-content">Im GVK-PLUS finden Sie alle Titel des Gemeinsamen Verbundkataloges (GVK) und der Aufsatzdatenbank Online Contents (OLC). Die im GVK-Plus nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar. Dieser Katalog ist nur im Netz der Universität Göttingen verfügbar.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--ezb" tabindex="-1" role="dialog" aria-labelledby="modal__activate--ezb-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--ezb-label">Suche nach Elektronischen Zeitschriften</header>
		<div class="modal-content">Die Elektronische Zeitschriftenbibliothek (EZB) bietet Zugang zu E-Journals, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  Die EZB weist Zeitschriften, aber keine Aufsätze aus Zeitschriften nach.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--dbis" tabindex="-1" role="dialog" aria-labelledby="modal__activate--dbis-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--dbis-label">Suche nach Datenbanken</header>
		<div class="modal-content">Das Datenbank-Infosystem (DBIS) bietet Zugang zu Datenbanken, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  DBIS weist Datenbanken, aber keine Inhalte aus Datenbanken nach.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>