<section>
	<ul class="pageadd pageadd-a__list">
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Webseitensuche</a>
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Letze Änderungen</a>
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Sitemap</a>
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Kontakt</a>
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Impressum</a>
	</ul><!--
	--><ul class=" pageadd pageadd-b__list">
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Zurück zum Seitenanfang</a>
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Feedback</a>
		<li class="pageadd__item"><a href="" title="" class="pageadd__link">Short URL</a>
	</ul>
</section>