<div class="panel__wrap">
	<div class="panel__guk  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--guk"><i class="icon-arrow-left"></i> Göttinger Universitätskatalog</span>
		<div class="panel__content">
			<p>Enthalten sind die Bestände der Niedersächsischen Staats- und Universitätsbibliothek Göttingen (Zentralbibliothek, Historisches Gebäude und Bereichsbibliotheken) und von Instituts- und Seminarbibliotheken (im Aufbau). Nicht enthalten sind in der Regel Aufsätze aus Büchern und Zeitschriften.</p>
		</div>
	</div>
	<div class="panel__gvk  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--gvk"><i class="icon-arrow-left"></i> Gemeinsamer Verbundkatalog</span>
		<div class="panel__content">
			<p>Der Gemeinsame Verbundkatalog (GVK) enthält die Bestände von Bibliotheken aus sieben Bundesländern und der Staatsbibliothek zu Berlin. Die im GVK nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar.</p>
		</div>
	</div>
	<div class="panel__gvkplus  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger  panel__trigger--gvkplus"><i class="icon-arrow-left"></i> GVK mit Online Contents</span>
		<div class="panel__content">
			<p>Im GVK-PLUS finden Sie alle Titel des Gemeinsamen Verbundkataloges (GVK) und der Aufsatzdatenbank Online Contents (OLC). Die im GVK-Plus nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar. Dieser Katalog ist nur im Netz der Universität Göttingen verfügbar.</p>
		</div>
	</div>
	<div class="panel__ezb  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--ezb"><i class="icon-arrow-left"></i> EZB - Suche nach Elektronischen Zeitschriften</span>
		<div class="panel__content">
			<p>Die Elektronische Zeitschriftenbibliothek (EZB) bietet Zugang zu E-Journals, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  Die EZB weist Zeitschriften, aber keine Aufsätze aus Zeitschriften nach.</p>
		</div>
	</div>
	<div class="panel__dbis  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--dbis"><i class="icon-arrow-left"></i> DBIS - Suche nach Datenbanken</span>
		<div class="panel__content">
			<p>Das Datenbank-Infosystem (DBIS) bietet Zugang zu Datenbanken, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  DBIS weist Datenbanken, aber keine Inhalte aus Datenbanken nach.</p>
		</div>
	</div>
</div>