<div id="search" class="search">
	<a name="search"></a>

	<div class="search__tabs">
		<ul class="search__choose">
			<li class="search__chooseitem"><a href="" title="" class="search__chooselink" data-options="catalog">…im Katalog</a>
			<li class="search__chooseitem"><a href="" title="" class="search__chooselink" data-options="discipline">…in Fächern</a>
			<li class="search__chooseitem"><a href="" title="" class="search__chooselink" data-options="website">…auf der Website</a>
		</ul>
		<div class="search__input"><input type="text" class="search__inputfield"><i class="icon-search search__inputsubmit"></i></div>
	</div>

	<div class="search__options" data-options="catalog">
		<div class="search__header split"><span class="split__title">Suche: in Katalogen</span> <i class="icon-search"></i></div>
		<div class="search__content">
			<form action="">
				<div class="search__input"><input type="text" class="search__inputfield"><input type="submit" value="Suchen" class="search__inputsubmit"></div>
				<div class="search__inputradio  split">
					<span class="split__title"><input type="radio"> <label>GUK</label></span><a href="#modal__activate--guk" title="" class="search__infolink">Göttinger Universitätskatalog</a><i class="icon-caret-right phone--only"></i><br>
					<span class="split__title"><input type="radio"> <label>GVK</label></span><a href="#modal__activate--gvk" title="" class="search__infolink">Gemeinsamer Verbundkatalog</a><i class="icon-caret-right phone--only"></i><br>
					<span class="split__title"><input type="radio"> <label>GVK - Plus</label></span><a href="#modal__activate--gvkplus" title="" class="search__infolink">GVK mit Online Contents</a><i class="icon-caret-right phone--only"></i><br>
					<span class="split__title"><input type="radio"> <label>EZB</label></span><a href="#modal__activate--ezb" title="" class="search__infolink">Suche nach Elektronischen Zeitschriften</a><i class="icon-caret-right phone--only"></i><br>
					<span class="split__title"><input type="radio"> <label>DBIS</label></span><a href="#modal__activate--dbis" title="" class="search__infolink">Suche nach Datenbanken</a><i class="icon-caret-right phone--only"></i><br>
					<span class="split__title"><input type="radio"> <label>Aufsätze und elektronische Volltexte</label></span><br>
				</div>
			</form>
			<a href="" title="" class="search__link">Weitere Sucheinstiege & Recherchetipps</a>
		</div>
	</div>

	<div class="search__options" data-options="discipline">
		<div class="search__header split"><span class="split__title">Suche: nach Fächern</span> <i class="icon-search"></i></div>
		<div class="search__content">
			<form action="">
				<div class="search__input"><input type="text" class="search__inputfield" value="path"><input type="submit" value="Suchen" class="search__inputsubmit"></div>
			</form>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink">Geisteswissenschaften und Theologie</a>
					<ul class="search__list">
						<li class="search__listitem"><a href="" title="" class="search__listlink">Allgemeine Sprach- und Literaturwissenschaft</a><br>Biolinguistik und <span class="search__resultmarker">Path</span>olinguistik
						<li class="search__listitem"><a href="" title="" class="search__listlink">General Linguistics an Literacy Studies</a><br>biologuistics and <span class="search__resultmarker">path</span>olinguistics
					</ul>
				</li>
				<li class="search__listitem"><a href="" title="" class="search__listlink">Naturwissenschaften, Mathematik und Informatik</a>
					<ul class="search__list">
						<li class="search__listitem"><a href="" title="" class="search__listlink">Agrarwissenschaften</a><br>Pflanzen<span class="search__resultmarker">path</span>ologie
						<li class="search__listitem"><a href="" title="" class="search__listlink">Psychologie</a><br><span class="search__resultmarker">Path</span>opsychologie
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="search__options" data-options="website">
		<div class="search__header split"><span class="split__title">Suche: auf der Website</span> <i class="icon-search"></i></div>
		<div class="search__content">
			<form action="">
				<div class="search__input"><input type="text" class="search__inputfield" value="pat"><input type="submit" value="Suchen" class="search__inputsubmit"></div>
			</form>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologie</a> (6)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hopsycholigie</a> (2)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologische</a> (2)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ras</a> (2)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rias</a> (2)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>riach</a> (2)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rizier</a> (2)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>en</a> (1)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>enschaft</a> (1)
				<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ent</a> (1)
			</ul>
		</div>
	</div>

</div>


<!--

<div class="headersearch__content">
	<div class="headersearch__content--catalog">
		<form action="">
			<div class="headersearch__inputradio  split">
				<label><span class="split__title"><input type="radio"> GUK</label></span><a href="#modal__activate--guk" title="GUK" class="headersearch__infolink">Göttinger Universitätskatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK</label></span><a href="#modal__activate--gvk" title="GVK" class="headersearch__infolink">Gemeinsamer Verbundkatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK - Plus</label></span><a href="#modal__activate--gvkplus" title="GVK Plus" class="headersearch__infolink">GVK mit Online Contents</a><br>
				<label><span class="split__title"><input type="radio"> EZB</label></span><a href="#modal__activate--ezb" title="EZB" class="headersearch__infolink">Suche nach Elektronischen Zeitschriften</a><br>
				<label><span class="split__title"><input type="radio"> DBIS</label></span><a href="#modal__activate--dbis" title="DBIS" class="headersearch__infolink">Suche nach Datenbanken</a><br>
				<label><span class="split__title"><input type="radio"> Aufsätze und elektronische Volltexte</label></span><br>
			</div>
		</form>
		<ul class="search__list">
			<li class="search__listitem"><a href="" title="" class="search__listlink">Weitere Sucheinstiege & Recherchetipps</a>
		</ul>
	</div>
	<div class="headersearch__content--discipline">
		<ul class="search__list">
			<li class="search__listitem"><a href="" title="" class="search__listlink">Geisteswissenschaften und Theologie</a>
				<ul class="search__list">
					<li class="search__listitem"><a href="" title="" class="search__listlink">Allgemeine Sprach- und Literaturwissenschaft</a><br>Biolinguistik und <span class="search__resultmarker">Path</span>olinguistik
					<li class="search__listitem"><a href="" title="" class="search__listlink">General Linguistics an Literacy Studies</a><br>biologuistics and <span class="search__resultmarker">path</span>olinguistics
				</ul>
			</li>
			<li class="search__listitem"><a href="" title="" class="search__listlink">Naturwissenschaften, Mathematik und Informatik</a>
				<ul class="search__list">
					<li class="search__listitem"><a href="" title="" class="search__listlink">Agrarwissenschaften</a><br>Pflanzen<span class="search__resultmarker">path</span>ologie
					<li class="search__listitem"><a href="" title="" class="search__listlink">Psychologie</a><br><span class="search__resultmarker">Path</span>opsychologie
				</ul>
			</li>
		</ul>
	</div>
	<div class="headersearch__content--website">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologie</a> (6)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hopsycholigie</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologische</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ras</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rias</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>riach</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rizier</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>en</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>enschaft</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ent</a> (1)
	</ul>
	</div>
</div>




<div class="tabsearch__content">
	<div class="tabsearch__content--catalog">
		<form action="">
			<div class="headersearch__inputradio  split">
				<label><span class="split__title"><input type="radio"> GUK</label></span><a href="#modal__activate--guk" title="GUK" class="headersearch__infolink">Göttinger Universitätskatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK</label></span><a href="#modal__activate--gvk" title="GVK" class="headersearch__infolink">Gemeinsamer Verbundkatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK - Plus</label></span><a href="#modal__activate--gvkplus" title="GVK Plus" class="headersearch__infolink">GVK mit Online Contents</a><br>
				<label><span class="split__title"><input type="radio"> EZB</label></span><a href="#modal__activate--ezb" title="EZB" class="headersearch__infolink">Suche nach Elektronischen Zeitschriften</a><br>
				<label><span class="split__title"><input type="radio"> DBIS</label></span><a href="#modal__activate--dbis" title="DBIS" class="headersearch__infolink">Suche nach Datenbanken</a><br>
				<label><span class="split__title"><input type="radio"> Aufsätze und elektronische Volltexte</label></span><br>
			</div>
		</form>
		<ul class="search__list">
			<li class="search__listitem"><a href="" title="" class="search__listlink">Weitere Sucheinstiege & Recherchetipps</a>
		</ul>
	</div>
	<div class="tabsearch__content--discipline">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink">Geisteswissenschaften und Theologie</a>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink">Allgemeine Sprach- und Literaturwissenschaft</a><br>Biolinguistik und <span class="search__resultmarker">Path</span>olinguistik
				<li class="search__listitem"><a href="" title="" class="search__listlink">General Linguistics an Literacy Studies</a><br>biologuistics and <span class="search__resultmarker">path</span>olinguistics
			</ul>
		</li>
		<li class="search__listitem"><a href="" title="" class="search__listlink">Naturwissenschaften, Mathematik und Informatik</a>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink">Agrarwissenschaften</a><br>Pflanzen<span class="search__resultmarker">path</span>ologie
				<li class="search__listitem"><a href="" title="" class="search__listlink">Psychologie</a><br><span class="search__resultmarker">Path</span>opsychologie
			</ul>
		</li>
	</ul>
	</div>
	<div class="tabsearch__content--website">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologie</a> (6)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hopsycholigie</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologische</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ras</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rias</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>riach</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rizier</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>en</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>enschaft</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ent</a> (1)
	</ul>
	</div>
</div>
-->