/*
 *
 */

.icon-cog {
	cursor: pointer;
}

.toolwrap {
	display: none;
}

body.tool {
	.toolwrap {
		display: block;
	}
	.contentwrap,
	.banner,
	.tabsearch,
	.mainnav,
	.globallinks {
		display: none;
	}
}

.tool__navi {
	text-align: center;
}

.tool__navibutton {
	color: black;
	text-decoration: none;
}

.tool__img {
	//text-align: center;
	img {
		width: 100%;
		max-width: 100%;
	}
}

.tool__naviitem {
	margin: 0 3px;
}

.tool__infoadd {
	@include grid-media-query('xs') { margin: 10px 0; }
	@include grid-media-query('s') { margin: 10px 0; }
	@include grid-media-query('m') { margin: 10px 0; }
	@include grid-media-query('l') { margin: 10px 0; }
	@include grid-media-query('xl') { padding-left: 10px; }
	@include grid-media-query('xxl') { padding-left: 10px; }
}

.tool__infotitle {
	h2 {
		font-size: 110%;
		margin-bottom: 0;
	}
}

.tool__infolist {
	margin: 0 0 0 15px;
}

.tool__infolistlink {
	color: $brand-link__color--base;
	text-decoration: none;
	border-bottom: 1px solid $brand-link__color--base;
}

.tool__infoaddtitle {
	font-size: 105%;
	margin: 0 0 5px 0;
/*
	@include grid-media-query('xl') { margin: 0 0 5px 0; }
	@include grid-media-query('xxl') { margin: 0 0 5px 0; }
*/
}

.tool__infoadddata,
.tool__infoaddlinks {
	@include grid-media-query('xs') { margin-bottom: 10px; }
	@include grid-media-query('s') { margin-bottom: 10px; }
	@include grid-media-query('xl') { margin-bottom: 10px; }
	@include grid-media-query('xxl') { margin-bottom: 10px; }
}

.tool__moreimg {
	text-align: center;
	@include grid-media-query('xs') {
		display: none;
	}
}

.tool__img {
	margin-top: -48px;
}

.tool__moreimg_list {
	margin: 0;
}

.tool__moreimg_listitem {
	display: inline;
	list-style-type: none;
	cursor: pointer;
}

.tool__moreimg_img {
	max-height: 150px;
}

.tool__moreimg_list {
	/* float: left; */
	display: inline;
}

.tool__moreimg_navileft {
	text-decoration: none;
	padding-top: 50px;
	float: left;
	font-size: 250%;
	color: $brand-link__color--base;
}
.tool__moreimg_naviright {
	text-decoration: none;
	padding-top: 50px;
	float: right;
	font-size: 250%;
	color: $brand-link__color--base;
}

ul.tool__moreimg_list{
	@include grid-media-query('s') {
		li:nth-child(4) { display: none; }
		li:nth-child(5) { display: none; }
		li:nth-child(6) { display: none; }
		li:nth-child(7) { display: none; }
		li:nth-child(8) { display: none; }
		li:nth-child(9) { display: none; }
		li:nth-child(10) { display: none; }
		li:nth-child(11) { display: none; }
		li:nth-child(12) { display: none; }
		li:nth-child(13) { display: none; }
	}
	@include grid-media-query('m') {
		li:nth-child(7) { display: none; }
		li:nth-child(8) { display: none; }
		li:nth-child(9) { display: none; }
		li:nth-child(10) { display: none; }
		li:nth-child(11) { display: none; }
		li:nth-child(12) { display: none; }
		li:nth-child(13) { display: none; }
	}
	@include grid-media-query('l') {
		li:nth-child(9) { display: none; }
		li:nth-child(10) { display: none; }
		li:nth-child(11) { display: none; }
		li:nth-child(12) { display: none; }
		li:nth-child(13) { display: none; }
	}
	@include grid-media-query('xl') {
		li:nth-child(10) { display: none; }
		li:nth-child(11) { display: none; }
		li:nth-child(12) { display: none; }
		li:nth-child(13) { display: none; }
	}
}

.toolbutton__larger,
.toolbutton__smaller {
	text-decoration: none;
	position: relative;
	background-color: black;
	z-index: 1;
	color: white;
	font-size: 200%;
	padding: 3px 5px;
	top: 46px;
	a {
		color: white;
	}
}

.toolbutton__larger {
	left: -3px;
}

.toolbutton__smaller {
	left: -13px;
}

img .tool__img--magnify {
	width: 200% !important;
	height: 200%;
	overflow: hidden;
}