/*
 *	LINKLIST
 */

.globallinks {
	margin-bottom: 15px;
	@include grid-media-query('xl') { margin: 10px 0 0 0; }
}

.linklist {
	padding: 10px 0 0 0;
	ul {
		margin: 0;
		li { list-style-type: none; }
	}
}

.linklist__header {
	padding: 0;
	h2 {
		font-size: $deca-size;
		margin: 0;
		@include grid-media-query('xl') { font-size: $deca-size; }
		@include grid-media-query('xxl') { font-size: $hecto-size; }
	}
}

.linklist__list {
	@include grid-media-query('s') { padding-right: 10px; }
	@include grid-media-query('xl') { padding: 0; }
}

.linklist__item {
	padding: 2px 0;
	@include grid-media-query('xl') {
		padding: 0;
		font-size: $deci-size;
	}
}

.linklist__link {
	color: $brand-link__color--base;
	text-decoration: none;
	&:hover {
		border-bottom: 1px solid;
		color: $brand-link__color--hover;
		border-bottom-color: $brand-link__color--hover;
	}
	&:active { color: $brand-link__color--active; }
	&:visited { color: $brand-link__color--visited; }
}