/*
 *	BREADCRUMB
 */

.breadcrumb {
	padding-left: 0;
	margin: 0;
	@include grid-media-query('xs') {
		ol li { display: block; }
		background-color: white;
	}
	@include grid-media-query('xl') { font-size: 95%; }
	@include grid-media-query('xxl') { font-size: 105%; }
	@include grid-media-query('s') { background-color: white; }
}

.breadcrumb__list {
	margin: 10px 0;
	@include grid-media-query('xxl') { margin: 20px 0; }
}

.breadcrumb__listitem { display: inline; }

.breadcrumb__link {
	color: $brand-link__color--base;
	text-decoration: none;
	&:hover {
		color: $brand-link__color--hover;
		border-bottom: 1px solid;
		border-bottom-color: $brand-link__color--base;
	}
	&:active {
		color: $brand-link__color--active;
	}
	&:visited {
		color: $brand-link__color--visited;
	}
}