.footer > section {
	background-color: $brand-background__color--main;
}

.linklist__link .icon-facebook-sign { color: $facebook__color; }
.linklist__link .icon-twitter-sign { color: $twitter__color; }