/*
 *	BREADCRUMB
 */

.breadcrumb {
	padding-left: 0;
	margin: 0;
	@include grid-media-query('xs') {
		ol li { display: block; }
		background-color: white;
	}
	@include grid-media-query('xl') { font-size: $deci-size; }
	@include grid-media-query('xxl') { font-size: $deca-size; }
	@include grid-media-query('s') { background-color: white; }
}

.breadcrumb__list {
	margin: 10px 0;
	@include grid-media-query('xxl') { margin: 20px 0; }
}

.breadcrumb__listitem { display: inline; }

.breadcrumb__link {
	@include link-colors();
	@include link-decoration(false);
}