/*
 *	CONTENTWRAP
 */
.contentwrap {
	@include grid-media-query('xxl') { margin-top: 8px; }
}

/*
 *	CONTENTBOX
 */

.contentbox {
	padding-left: 0;
	@include word-break(break-word);
	@include hyphens(auto);
	@include grid-media-query('m') { padding: 0 15px; }
	@include grid-media-query('l') { padding: 0 20px; }
	@include grid-media-query('xl') { padding: 0 15px; }
	@include grid-media-query('xxl') { padding: 0 25px; }

main {
	a { 
		@include link-colors();
		@include link-decoration();
	}
	ul {
		margin-left: 15px;
		li { list-style-type: none; }
		li:before {
			color: $brand-link__color--base;
			font-family: FontAwesome;
			content: $arrow-little-right;
			margin: 0 7px 0 -15px;
		}
	}
}