/*
 *	BOTTOMLINE
 */

.bottomline {
	font-size: $micro-size;
	text-align: right;
	margin-bottom: 5px;
	@include grid-media-query('xxl') { margin-bottom: 15px; }
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			list-style-type: none;
		}
	}
}