$brand-link__color--base: #1A3771;
$brand-link__color--active: #1A3771;
$brand-link__color--hover: #1A3771;
$brand-link__color--visited: #1A3771;

$brand-text-color: #434343;

$brand-background__color--main: #1A3771;

$brand-colorgradient__1--start: #122c5f;
$brand-colorgradient__1--end: #163776;