$brand-link__color--base: #1A3771;
$brand-link__color--visited: #434343;

$brand-link__color--hover: #1A3771;
$brand-link__color--focus: #1A3771;
$brand-link__color--active: #ff0000;

$brand-text-color: #434343;

$brand-background__color--main: #1A3771;

$brand-colorgradient__1--start: #122c5f;
$brand-colorgradient__1--end: #163776;

$facebook__color: #3b5998;
$twitter__color: #00aced;