/*
 *	GENERAL
 */

body {
	color: $brand-text-color;
}

.overlay {
	cursor: pointer;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, $overlay-opacity);
	background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
	z-index: 9999;
	//color: white;
	@include transition(all 0.3s ease);
}

.list__social {
	margin-left: 0;
	font-size: 250%;
}

.list__socialitem {
	display: inline;
	list-style-type: none;
}

.list__socialitem i { 
	width: 0.8em;
}

.list__sociallink {
	text-decoration: none;
}

.list__socialicon {
}

.list__socialicon--facebook {
	color: $facebook__color;
}

.list__socialicon--twitter {
	color: $twitter__color;
}

.list__socialicon--reply {
	font-size: 90%;
	color: $brand-link__color--base;
}

.list__socialicon--question {
	color: $brand-link__color--base;
}

/*
 *	MISC
 */

.icon-rotate-right {
	display: inline-block;
	@include rotate(270deg);
}