<!DOCTYPE HTML>
<html lang="{{ page.language }}">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel=stylesheet href="../css/style.css">
	{% include head-meta.html %}
</head>

<body id="{{ page.layout }}" class="panel__helper--push">

<div class="panel__wrap">
	<div class="panel__guk  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--guk"><i class="icon-arrow-left"></i> Göttinger Universitätskatalog</span>
		<div class="panel__content">
			<p>Enthalten sind die Bestände der Niedersächsischen Staats- und Universitätsbibliothek Göttingen (Zentralbibliothek, Historisches Gebäude und Bereichsbibliotheken) und von Instituts- und Seminarbibliotheken (im Aufbau). Nicht enthalten sind in der Regel Aufsätze aus Büchern und Zeitschriften.</p>
		</div>
	</div>
	<div class="panel__gvk  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--gvk"><i class="icon-arrow-left"></i> Gemeinsamer Verbundkatalog</span>
		<div class="panel__content">
			<p>Der Gemeinsame Verbundkatalog (GVK) enthält die Bestände von Bibliotheken aus sieben Bundesländern und der Staatsbibliothek zu Berlin. Die im GVK nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar.</p>
		</div>
	</div>
	<div class="panel__gvkplus  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger  panel__trigger--gvkplus"><i class="icon-arrow-left"></i> GVK mit Online Contents</span>
		<div class="panel__content">
			<p>Im GVK-PLUS finden Sie alle Titel des Gemeinsamen Verbundkataloges (GVK) und der Aufsatzdatenbank Online Contents (OLC). Die im GVK-Plus nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar. Dieser Katalog ist nur im Netz der Universität Göttingen verfügbar.</p>
		</div>
	</div>
	<div class="panel__ezb  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--ezb"><i class="icon-arrow-left"></i> EZB - Suche nach Elektronischen Zeitschriften</span>
		<div class="panel__content">
			<p>Die Elektronische Zeitschriftenbibliothek (EZB) bietet Zugang zu E-Journals, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  Die EZB weist Zeitschriften, aber keine Aufsätze aus Zeitschriften nach.</p>
		</div>
	</div>
	<div class="panel__dbis  panel__item panel__item--vertical panel__item--right">
		<span class="panel__title panel__trigger panel__trigger--dbis"><i class="icon-arrow-left"></i> DBIS - Suche nach Datenbanken</span>
		<div class="panel__content">
			<p>Das Datenbank-Infosystem (DBIS) bietet Zugang zu Datenbanken, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  DBIS weist Datenbanken, aber keine Inhalte aus Datenbanken nach.</p>
		</div>
	</div>
</div>

<div class="headersearch__content">
	<div class="headersearch__content--catalog">
		<form action="">
			<div class="headersearch__inputradio  split">
				<label><span class="split__title"><input type="radio"> GUK</label></span><a href="#modal__activate--guk" title="GUK" class="headersearch__infolink">Göttinger Universitätskatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK</label></span><a href="#modal__activate--gvk" title="GVK" class="headersearch__infolink">Gemeinsamer Verbundkatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK - Plus</label></span><a href="#modal__activate--gvkplus" title="GVK Plus" class="headersearch__infolink">GVK mit Online Contents</a><br>
				<label><span class="split__title"><input type="radio"> EZB</label></span><a href="#modal__activate--ezb" title="EZB" class="headersearch__infolink">Suche nach Elektronischen Zeitschriften</a><br>
				<label><span class="split__title"><input type="radio"> DBIS</label></span><a href="#modal__activate--dbis" title="DBIS" class="headersearch__infolink">Suche nach Datenbanken</a><br>
			</div>
		</form>
		<a href="" title="" class="search__link">Weitere Sucheinstiege & Recherchetipps</a>
	</div>
	<div class="headersearch__content--discipline">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink">Geisteswissenschaften und Theologie</a>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink">Allgemeine Sprach- und Literaturwissenschaft</a><br>Biolinguistik und <span class="search__resultmarker">Path</span>olinguistik
				<li class="search__listitem"><a href="" title="" class="search__listlink">General Linguistics an Literacy Studies</a><br>biologuistics and <span class="search__resultmarker">path</span>olinguistics
			</ul>
		</li>
		<li class="search__listitem"><a href="" title="" class="search__listlink">Naturwissenschaften, Mathematik und Informatik</a>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink">Agrarwissenschaften</a><br>Pflanzen<span class="search__resultmarker">path</span>ologie
				<li class="search__listitem"><a href="" title="" class="search__listlink">Psychologie</a><br><span class="search__resultmarker">Path</span>opsychologie
			</ul>
		</li>
	</ul>
	</div>
	<div class="headersearch__content--website">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologie</a> (6)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hopsycholigie</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologische</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ras</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rias</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>riach</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rizier</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>en</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>enschaft</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ent</a> (1)
	</ul>
	</div>
</div>

<div class="tabsearch__content">
	<div class="tabsearch__content--catalog">
		<form action="">
			<div class="headersearch__inputradio  split">
				<label><span class="split__title"><input type="radio"> GUK</label></span><a href="#modal__activate--guk" title="GUK" class="headersearch__infolink">Göttinger Universitätskatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK</label></span><a href="#modal__activate--gvk" title="GVK" class="headersearch__infolink">Gemeinsamer Verbundkatalog</a><br>
				<label><span class="split__title"><input type="radio"> GVK - Plus</label></span><a href="#modal__activate--gvkplus" title="GVK Plus" class="headersearch__infolink">GVK mit Online Contents</a><br>
				<label><span class="split__title"><input type="radio"> EZB</label></span><a href="#modal__activate--ezb" title="EZB" class="headersearch__infolink">Suche nach Elektronischen Zeitschriften</a><br>
				<label><span class="split__title"><input type="radio"> DBIS</label></span><a href="#modal__activate--dbis" title="DBIS" class="headersearch__infolink">Suche nach Datenbanken</a><br>
				<label><span class="split__title"><input type="radio"> Aufsätze und elektronische Volltexte</label></span><br>
			</div>
		</form>
		<a href="" title="" class="search__link">Weitere Sucheinstiege & Recherchetipps</a>
	</div>
	<div class="tabsearch__content--discipline">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink">Geisteswissenschaften und Theologie</a>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink">Allgemeine Sprach- und Literaturwissenschaft</a><br>Biolinguistik und <span class="search__resultmarker">Path</span>olinguistik
				<li class="search__listitem"><a href="" title="" class="search__listlink">General Linguistics an Literacy Studies</a><br>biologuistics and <span class="search__resultmarker">path</span>olinguistics
			</ul>
		</li>
		<li class="search__listitem"><a href="" title="" class="search__listlink">Naturwissenschaften, Mathematik und Informatik</a>
			<ul class="search__list">
				<li class="search__listitem"><a href="" title="" class="search__listlink">Agrarwissenschaften</a><br>Pflanzen<span class="search__resultmarker">path</span>ologie
				<li class="search__listitem"><a href="" title="" class="search__listlink">Psychologie</a><br><span class="search__resultmarker">Path</span>opsychologie
			</ul>
		</li>
	</ul>
	</div>
	<div class="tabsearch__content--website">
		<ul class="search__list">
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologie</a> (6)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hopsycholigie</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologische</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ras</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rias</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>riach</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rizier</a> (2)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>en</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>enschaft</a> (1)
		<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ent</a> (1)
	</ul>
	</div>
</div>

<div class="tabsearch">
	<ul class="tabsearch__choose">
		<li class="tabsearch__chooseitem"><a href="" title="" class="tabsearch__chooselink  tabsearch__choose--catalog">…im Katalog</a>
		<li class="tabsearch__chooseitem"><a href="" title="" class="tabsearch__chooselink  tabsearch__choose--discipline">…in Fächern</a>
		<li class="tabsearch__chooseitem"><a href="" title="" class="tabsearch__chooselink  tabsearch__choose--website">…auf der Website</a>
	</ul>
	<div class="tabsearch__input"><input type="text" class="tabsearch__inputfield"><i class="icon-search tabsearch__inputsubmit"></i></div>
</div>


<div class="wrap">

	<div class="overlay   panel__close"></div>

	<div class="header">
		<div class="logo">
			<a href="#"><img src="img/tmp/logo__s.png" alt=""></a>
		</div><!--
		--><div class="headersearch">
			<ul class="headersearch__choose">
				<li class="headersearch__chooseitem"><a href="" title="" class="headersearch__chooselink  headersearch__choose--catalog">…im Katalog</a>
				<li class="headersearch__chooseitem"><a href="" title="" class="headersearch__chooselink  headersearch__choose--discipline">…in Fächern</a>
				<li class="headersearch__chooseitem"><a href="" title="" class="headersearch__chooselink  headersearch__choose--website">…auf der Website</a>
			</ul>
			<div class="headersearch__input"><input type="text" class="headersearch__inputfield"><i class="icon-search headersearch__inputsubmit"></i></div>
		</div>
	</div><!--

	--><div class="menu">
		<ul class="menu__list">
			<li class="menu__listitem menu__listitem--english"><a href="" title="" class="menu__listlink">English</a>
			<li class="menu__listitem menu__listitem--menu"><a href="#mainnav" title="" class="menu__listlink">Menu <i class=icon-align-justify></i></a>
			<li class="menu__listitem menu__listitem--search"><a href="#search" title="" class="menu__listlink"><i class=icon-search></i></a>
		</ul>
	</div><!--

	--><div class="banner">
		<div class="banner__imgbox   focal-point  left-6 up-4">
			<div><img src="../img/tmp/banner.jpg" alt="" /></div>
		</div>
	</div><!--

	--><div class="contentwrap"><!--

		--><div class="contentbox">
			<div class="breadcrumb">
				<ol class="breadcrumb   breadcrumb__list">
					<li class="breadcrumb__listitem"><a href="" title="" class="breadcrumb__link">SUB Göttingen</a>
					<li class="breadcrumb__listitem"><a href="" title="" class="breadcrumb__link">Kopieren & Digitalisieren</a>
					<li class="breadcrumb__listitem"><a href="" title="" class="breadcrumb__link">Digitalisieren & Scannen</a>
					<li class="breadcrumb__listitem"><a href="" title="" class="breadcrumb__link">Preisliste für Scanaufträge</a>
				</ol>
			</div>
			<h2>Preisliste für Scanaufträge</h2>
			<p>Es gilt ein Mindestbestellwert von 6,00 Euro pro Auftrag für alle Reproduktionsarbeiten (bei Postversand zzgl. Versandkostenpauschale). Jede Bestellung ist verbindlich.</p>
			<p>Papierkopien und Datenträger stellen wir Ihnen samt Rechnung per Post zu. Alternativ können Sie sie an der Kasse in der Zentralbibliothek abholen und dort bezahlen. Jede Bestellung ist verbindlich. Bei Nichtabholung erfolgt die Zustellung an die im Auftrag angegebene Adresse.</p>
			<h3>Kopieren lassen</h3>
			<p>Gern fertigen wir für Sie Kopien aus Büchern, Zeitschriften, Mikrofilmen, Mikrofiches und anderen digitalen Medien an, insbesondere auch aus großformatigen Bänden, wie z. B. Zeitungen. Auftragsformulare finden Sie an der <a href="" title="">Lesesaaltheke</a> und der <a href="" title="">Kasse</a>. Selbstverständlich können Sie Ihren Auftrag auch per Briefpost, per E-Mail oder online über das <a href="" title="">Auftragsformular</a> an uns schicken. </p>
			<h4>Was ist bei Kopieraufträgen zu beachten?</h4>
			<ul>
				<li>Kopien können nur unter Berücksichtigung des <a href="" title="">Gesetzes über Urheberrecht und verwandte Schutzrechte (Urheberrechtsgesetz, UrhG)</a> ausgeführt werden
				<li>Kopien können bis maximal DIN A3 ausgedruckt werden
				<li>Bei Postversand von Kopien gilt ein Mindestauftragswert von 6,00 Euro
				<li>Bitte geben Sie im Auftragsformular die abzulichtenden Seiten und die Erledigungsfrist an. Falls Sie keine Erledigungsfrist angeben, erfolgt die Bearbeitung Ihres Auftrages in der Regel innerhalb von 1 bis 2 Wochen
			</ul>
			<p>Eine detaillierte Preisliste finden Sie <a href="" title>hier</a>.</p>
			<h2>Open Access - frei zugängliche Texte</h2>
			<p>Hier finden Sie für Ihr Studienfach frei zugängliche Texte im Internet</p>
			<h3>Working und Diskussion Papers</h3>
			<h4>Working und Research Papers wirtschaftswissenschaftlicher Institutionen in Deutschland</h4>
			<ul>
				<li><a href="" title="">Volltext-Server der Deutschen Zentralbibliothek für Wirtschaftswissenschaften</a>
				<li><a href="" title="">Discussion Papers des ZEW</a>
			</ul>
			<h4>Discussion Papers wirtschaftswissenschaftlicher Forschungseinrichtungen (weltweit)</h4>
			<ul>
				<li><a href="" title="">Working Papers in Management and Business</a> (Zusammenstellung der Birkbeck Library)
				<li><a href="" title="">Working Papers in Economics</a> (Zusammenstellung der Birkbeck Library)
				<li><a href="" title="">EconPapers</a>
				<li><a href="" title="">EconWPA</a>
				<li><a href="" title="">European Research Papers Archive (ERPA)</a>
			</ul>
			<h3>Kontakt</h3>
			<p>Dr. Silke Glitsch</p>
			<img src="img/tmp/mitarbeiter_bilder-34.jpg" alt="" />
			<ul>
				<li>Papendiek 14
				<li>37073 Göttingen, Deutschland
				<li>Raum 1.609
				<li>+49 551 39-10673 (Tel.)
				<li>+49 551 39-5674 (Fax)
				<li><a href="mailto:glitsch@sub.uni.goettingen.de" title="">glitsch@sub.uni.goettingen.de</a>
			</ul>
		</div><!--
		--><div class="infobox">
			<h3 class="infobox__header">Inhaltsverzeichnis</h3>
			<ul class="infobox__list">
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Digitalisieren & Scannen</a></a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Zentralbibliothek</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Historisches Gebäude</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Bereichsbibliotheken</a>
			</ul>
			<h3 class="infobox__header">Beliebte Seiten</h3>
			<ul class="infobox__list">
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Benutzerkonten</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Bücherwunsch für Studierende</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Öffnungszeiten</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Services für Menschen mit Behinderungen</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Weitere Sucheinstiege & Recherchetipps</a>
			</ul>
			<h3 class="infobox__header">Schlagwörter</h3>
			<ul class="infobox__list">
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Arbeitskabinen</a></a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Gebührenordnung</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Raumvergabe</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Benutzung</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Learning Resources Center</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">LRC</a>
				<li class="infobox__listitem"><a href="" title="" class="infobox__listlink">Digitalisierung</a>
			</ul>
			<h3 class="infobox__header">Kontakt Lehrbücher</h3>
			<h4 class="infobox__header  infobox__header--smaller">Heike Mahrt</h4>
			<p class="infobox__text">Platz der Göttinger Sieben 1<br>37073 Göttingen, Germany<br>Raum 0.28b<br>+49 551 39-22449 (Tel.)<br>+49 551 39-22572 (Fax)<br><a href="" title="">mahrt@sub.uni-goettingen.de</a></p>
		</div><!--
	--></div><!--

	--><nav id="mainnav" class="mainnav">
		<ul class="mainnav__list   block-list">
			<li class="mainnav__item"><a href="" class="mainnav__link   block-list__link">SUB Aktuell</a>
			<li class="mainnav__item">
				<span class="split">
					<!-- <a href="" title="" class="mainnav__link  mainnav__link--active   block-list__link"><b class="split__title">Neu hier?</b> <i class="icon-remove"></i></a> -->
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Neu hier?</span> <i class="icon-angle-right"></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Planen Sie Ihren Besuch</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Lernen Sie die SUB kennen</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Zentrale Information</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Anmeldung</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Internetzugang</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Informationsbroschüren</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel  mainnav__link--active   block-list__link">Benutzungs- & Gebührenordnung</a>
						<ul class="mainnav__list   mainnav__list--thirdlevel   block-list">
							<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--thirdlevel   block-list__link">Benutzungsordnung</a>
							<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--thirdlevel   block-list__link">Gebührenordnung</a>
						</ul>
					</li>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Kontakt</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Adressen</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Information & Beratung</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Ausleihe</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Frag die SUB</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Ihre Meinung</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Weitere Kontakte für...</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Abteilungen A-Z</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Personen A-Z</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Standorte & Raumangebote</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Standorte mit Öffnungszeiten</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Räume buchen</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Ausleihen & Verlängern</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Ausleihen vor Ort & Verlängern</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Fernleihe & Dokmentlieferung</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Benutzerkonten</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Erwerbungsvorschläge</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Kopieren & Digitalisieren</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Kopieren</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Drucken</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Digitalisieren & Scannen</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Göttinger Digitalisierungszentrum</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Fachinformation</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Geisteswissenschaften und Theologie</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Naturwissenschaften, Mathematik und Informatik</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Rechts-, Wirtschafts- und Sozialwissenschaften</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Medizin</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Sammlungen & Historische Bestände</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Handschriften und Nachlässe</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Inkunabeln und Seltene Drucke</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Alte Drucke (1501-1900</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Sonderbestände</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Kartensammlung</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Universitätsarchiv Göttingen</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Elektronisches Publizieren</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Publizieren</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Universitätsverlag Göttingen</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Open Access</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Lernen & Lehren</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Schulungsangebote</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Einzel- & Grupenarbeitsplätze</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Lehrbücher & Semesterapprate</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Multimedia-Produktion</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Projekte & Forschung</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Projekte A-Z</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Forschung & Entwicklung</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Spenden & Fördern</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Warum spenden und fördern</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Unsere Förderinnen und Förderer</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Aktion Buchpatenschaft</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Aktion Regalbodenspende</a>
				</ul>
			<li class="mainnav__item">
				<span class="split">
					<a href="" title="" class="mainnav__link   block-list__link"><span class="split__title">Wir über uns</span> <i class=icon-angle-right></i></a>
				</span>
				<ul class="mainnav__list   mainnav__list--secondlevel   block-list">
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Portait</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Stellenangebote & Ausbildung</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Ausstellungen</a>
					<li class="mainnav__item"><a href="" title="" class="mainnav__link  mainnav__link--secondlevel   block-list__link">Öffentliche Veranstaltungen</a>
				</ul>
			<li class="mainnav__item"><a href="" title="" class="mainnav__link   block-list__link">SUB A-Z</a>
		</ul>
	</nav><!--

	-->
	<div id="search" class="search">
		<div class="search__catalog">
			<div class="search__header split"><span class="split__title">Suche: in Katalogen</span> <i class="icon-search"></i></div>
			<div class="search__content">
				<form action="">
					<div class="search__input"><input type="text" class="search__inputfield"><input type="submit" value="Suchen" class="search__inputsubmit"></div>
					<div class="search__inputradio  split">
						<span class="split__title"><input type="radio"> <label>GUK</label></span><a href="" title="" class="panel__trigger  panel__trigger--active  panel__trigger--guk   search__infolink">Göttinger Universitätskatalog</a><br>
						<span class="split__title"><input type="radio"> <label>GVK</label></span><a href="" title="" class="panel__trigger  panel__trigger--active  panel__trigger--gvk   search__infolink">Gemeinsamer Verbundkatalog</a><br>
						<span class="split__title"><input type="radio"> <label>GVK - Plus</label></span><a href="" title="" class="panel__trigger  panel__trigger--active  panel__trigger--gvkplus   search__infolink">GVK mit Online Contents</a><br>
						<span class="split__title"><input type="radio"> <label>EZB</label></span><a href="" title="" class="panel__trigger--ezb   search__infolink">Suche nach Elektronischen Zeitschiften</a><br>
						<span class="split__title"><input type="radio"> <label>DBIS</label></span><a href="" title="" class="panel__trigger--dbis   search__infolink">Suche nach Datenbanken</a><br>
						<span class="split__title"><input type="radio"> <label>Aufsätze und elektronische Volltexte</label></span><br>
					</div>
				</form>
				<a href="" title="" class="search__link">Weitere Sucheinstiege & Recherchetipps</a>
			</div>
		</div>
		<div class="search__discipline">
			<div class="search__header split"><span class="split__title">Suche: nach Fächern</span> <i class="icon-search"></i></div>
			<div class="search__content">
				<form action="">
					<div class="search__input"><input type="text" class="search__inputfield" value="path"><input type="submit" value="Suchen" class="search__inputsubmit"></div>
				</form>
				<ul class="search__list">
					<li class="search__listitem"><a href="" title="" class="search__listlink">Geisteswissenschaften und Theologie</a>
						<ul class="search__list">
							<li class="search__listitem"><a href="" title="" class="search__listlink">Allgemeine Sprach- und Literaturwissenschaft</a><br>Biolinguistik und <span class="search__resultmarker">Path</span>olinguistik
							<li class="search__listitem"><a href="" title="" class="search__listlink">General Linguistics an Literacy Studies</a><br>biologuistics and <span class="search__resultmarker">path</span>olinguistics
						</ul>
					</li>
					<li class="search__listitem"><a href="" title="" class="search__listlink">Naturwissenschaften, Mathematik und Informatik</a>
						<ul class="search__list">
							<li class="search__listitem"><a href="" title="" class="search__listlink">Agrarwissenschaften</a><br>Pflanzen<span class="search__resultmarker">path</span>ologie
							<li class="search__listitem"><a href="" title="" class="search__listlink">Psychologie</a><br><span class="search__resultmarker">Path</span>opsychologie
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="search__website">
			<div class="search__header split"><span class="split__title">Suche: auf der Website</span> <i class="icon-search"></i></div>
			<div class="search__content">
				<form action="">
					<div class="search__input"><input type="text" class="search__inputfield" value="pat"><input type="submit" value="Suchen" class="search__inputsubmit"></div>
				</form>
				<ul class="search__list">
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologie</a> (6)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hopsycholigie</a> (2)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>hologische</a> (2)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ras</a> (2)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rias</a> (2)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>riach</a> (2)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>rizier</a> (2)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>en</a> (1)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>enschaft</a> (1)
					<li class="search__listitem"><a href="" title="" class="search__listlink"><span class="search__resultmarker">pat</span>ent</a> (1)
				</ul>
			</div>
		</div>
	</div><!--
	--><footer class="footer">

		<section>
			<ul class="pageadd pageadd-a__list">
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Webseitensuche</a>
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Letze Änderungen</a>
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Sitemap</a>
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Kontakt</a>
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Impressum</a>
			</ul><!--
			--><ul class=" pageadd pageadd-b__list">
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Zurück zum Seitenanfang</a>
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Feedback</a>
				<li class="pageadd__item"><a href="" title="" class="pageadd__link">Short URL</a>
			</ul>
		</section>

		<div class="globallinks">
			<section class="linklist">
				<header class="linklist__header">
					<h2>Ressourcen</h2>
				</header>
				<ul class="linklist__list">
					<li class=linklist__item><a href="http://www.sub.uni-goettingen.de/weitere-informationen/weitere-sucheinstiege-recherchetipps/" title="Literatursuche" class=linklist__link>Literatursuche</a>
					<li class=linklist__item><a href="" class=linklist__link>KVK Karlsruher Katalog</a>
					<li class=linklist__item><a href="" class=linklist__link>ZDB - Zeitschriftendatenbank</a>
					<li class=linklist__item><a href="" class=linklist__link>OLC - Online Contents</a>
					<li class=linklist__item><a href="" class=linklist__link>GoeScholar</a>
					<li class=linklist__item><a href="" class=linklist__link>open-access.net</a>
				</ul>
			</section><!--
			--><section class="linklist">
				<header class="linklist__header">
					<h2>SUB Göttingen</h2>
				</header>
				<ul class="linklist__list">
					<li class=linklist__item><a href="" class=linklist__link>Benutzerkonten</a>
					<li class=linklist__item><a href="" class=linklist__link>Öffnungzeiten</a>
					<li class=linklist__item><a href="" class=linklist__link>Bücherwunsch für Studierende</a>
					<li class=linklist__item><a href="" class=linklist__link>Erwerbungsvorschläge</a>
					<li class=linklist__item><a href="" class=linklist__link>Schulungsangebote</a>
					<li class=linklist__item><a href="" class=linklist__link>SUB @ Facebook</a>
					<li class=linklist__item><a href="" class=linklist__link>Ihre Meinung</a>
					<li class=linklist__item><a href="" class=linklist__link>Frag die SUB</a>
				</ul>
			</section><!--
			--><section class="linklist">
				<header class="linklist__header">
					<h2>Universität Göttingen</h2>
				</header>
				<ul class="linklist__list">
					<li class=linklist__item><a href="" class=linklist__link>Universität Göttingen</a>
					<li class=linklist__item><a href="" class=linklist__link>UniVZ</a>
					<li class=linklist__item><a href="" class=linklist__link>eCampus mit Stud.IP</a>
					<li class=linklist__item><a href="" class=linklist__link>studIT</a>
					<li class=linklist__item><a href="" class=linklist__link>Gesamtübersicht Göttinger Bibliotheken</a>
					<li class=linklist__item><a href="" class=linklist__link>Mensa-Speisepläne</a>
					<li class=linklist__item><a href="" class=linklist__link>GWDG</a>
				</ul>
			</section><!--
			--><section class="linklist">
				<header class="linklist__header">
					<h2>Stadt Göttingen</h2>
				</header>
				<ul class="linklist__list">
					<li class=linklist__item><a href="" class=linklist__link>Informationen zur Stadt Göttingen</a>
					<li class=linklist__item><a href="" class=linklist__link>Stadtplan</a>
					<li class=linklist__item><a href="" class=linklist__link>Verkehrsverbindungen</a>
					<li class=linklist__item><a href="" class=linklist__link>studieren-in-goettingen.de</a>
				</ul>
			</section>
		</div>
		
		<div class="bottomline">
			<ul>
				<li class="footer__icon"><i></i>
				<li>Letzte Änderung 11.06.2013
				<li>&copy; 2013 Niederächsische Staats- und Universitätsbibliothek Göttingen
			</ul>
		</div>

	</footer><!--
	--></div>

</div>

<section class="" id="modal__activate--guk" tabindex="-1" role="dialog" aria-labelledby="modal__activate--guk" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--guk-label">Göttinger Universitätskatalog</header>
		<div class="modal-content">Enthalten sind die Bestände der Niedersächsischen Staats- und Universitätsbibliothek Göttingen (Zentralbibliothek, Historisches Gebäude und Bereichsbibliotheken) und von Instituts- und Seminarbibliotheken (im Aufbau). Nicht enthalten sind in der Regel Aufsätze aus Büchern und Zeitschriften.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--gvk" tabindex="-1" role="dialog" aria-labelledby="modal__activate--gvk-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--gvk-label">Gemeinsamer Verbundkatalog</header>
		<div class="modal-content">Der Gemeinsame Verbundkatalog (GVK) enthält die Bestände von Bibliotheken aus sieben Bundesländern und der Staatsbibliothek zu Berlin. Die im GVK nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--gvkplus" tabindex="-1" role="dialog" aria-labelledby="modal__activate--gvkplus-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--gvkplus-label">GVK mit Online Contents</header>
		<div class="modal-content">Im GVK-PLUS finden Sie alle Titel des Gemeinsamen Verbundkataloges (GVK) und der Aufsatzdatenbank Online Contents (OLC). Die im GVK-Plus nachgewiesenen Medien sind in der Regel über die Fernleihe deutschlandweit bestellbar. Dieser Katalog ist nur im Netz der Universität Göttingen verfügbar.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--ezb" tabindex="-1" role="dialog" aria-labelledby="modal__activate--ezb-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--ezb-label">Suche nach Elektronischen Zeitschriften</header>
		<div class="modal-content">Die Elektronische Zeitschriftenbibliothek (EZB) bietet Zugang zu E-Journals, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  Die EZB weist Zeitschriften, aber keine Aufsätze aus Zeitschriften nach.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

<section class="" id="modal__activate--dbis" tabindex="-1" role="dialog" aria-labelledby="modal__activate--dbis-label" aria-hidden="true">
	<div class="modal-inner">
		<header id="modal__activate--dbis-label">Suche nach Datenbanken</header>
		<div class="modal-content">Das Datenbank-Infosystem (DBIS) bietet Zugang zu Datenbanken, die frei verfügbar, von der Georg-August-Universität Göttingen lizenziert oder kostenpflichtig sind.  DBIS weist Datenbanken, aber keine Inhalte aus Datenbanken nach.</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

{% include js.html %}
<script src="../js/libs.js" type="text/javascript"></script>
<script src="../js/javascript.js" type="text/javascript"></script>

</body>

</html>
